.login-wrapper {
    width: 400px;
    margin: 50px auto;
    padding: 50px 50px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    vertical-align: middle;
}

.login-wrapper-title {
    margin: 0 auto 50px;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #969696;
    text-align: center;
}

.login-wrapper-title span, .login-wrapper-title b {
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
}

.login-wrapper-title span.active {
    color: #ea6f5a;
    border-bottom: 2px solid #ea6f5a;
}
